<!-- <nav>
  <div>
    <a href="/"><h1>Mink Blog</h1></a>
    <p>My Blog</p>
  </div>
  <ul>
    <li><a href="/">blogs</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/blog/create">new blog</a></li>
  </ul>
</nav> -->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" href="/">Blog</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-link" href="/">blogs</a>
        <a class="nav-link" href="/about">about</a>
        <a class="nav-link" href="/blogs/create">new blog</a>
      </div>
    </div>
  </div>
</nav>
