<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <section>
      <h1>About</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
        recusandae eos excepturi dolorem, quidem eaque deserunt magnam minima
        maxime commodi dolor voluptates itaque.
      </p>
    </section>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
